    .input-file {
      display: none !important;
    }

    .input-file + label {
      font-size: 15px;
      color: #fff;
      color: white;
      line-height: 40px;
      background-color: #666666;
      padding: 0 20px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      display: inline-block;
      margin-right: 15px;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
      cursor: pointer;
    }

    .input-file:focus + label,
    .input-file + label:hover {
      background: #1b1b1b;
    }

    .input-file__info {
      font-size: 15px;
      color: #666;
    }

    @media (max-width: 767px) {
      .input-file__info {
        display: block;
        margin-top: 6px;
      }
    }